<h3>Products</h3>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ingredients</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.name}} </td>
                <td>{{product.ingredients}}</td>
                <td>{{product.price}} €</td>
            </tr>
        </tbody>
    </table>
</div>
